body {
    padding-top: 70px;
}
.navbar > .container .navbar-header .navbar-brand {
    padding-bottom: 5px;
    padding-top: 5px;
}
.collapse .nav-pills {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}
.backToTop {
    bottom: 100px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 0;
}
#scrollUp{bottom:20px;right:20px;background:#555;color:#fff;font-size:12px;
          font-family:sans-serif;text-decoration:none;opacity:.8;padding:5px;
          -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
          -webkit-transition:background 200ms linear;-moz-transition:background 200ms linear;
          transition:background 200ms linear}
#scrollUp:hover{background:#000}
#scrollUp .glyphicon{margin:10px;font-size:24px}
#voice_box dl{margin:10px 0}
#voice_box dl dt{width: 80px;float:left;position: absolute;}
#voice_box dl dd{float:left;margin-left: 90px}
h4 span{color:#d84545;} 